<div class="flex flex-col items-center justify-center h-[80vh] w-[80vw] mx-auto">
  <h1 class="relative w-[max-content] font-mono text-2xl before:absolute before:inset-0 before:animate-typewriter before:bg-background after:absolute after:inset-0 after:w-[0.125em] after:animate-caret after:bg-foreground">
    > 404: not found
  </h1>
  <p class="mt-8 mb-12 font-mono text-lg">
    the content ur looking for doesn't exist or has been moved
  </p>
  <p class="font-mono text-xl mb-8">¯\_(ツ)_/¯</p>
  <a href="/" class="mt-8 font-mono text-2xl hover:scale-110 transition-transform transform-gpu">
    [ return home ]
  </a>
</div> 