{% from "components/typing-header.html" import typing_header %}
{% from "components/social-links.html" import social_links %}

<div class="flex flex-col items-center justify-center h-[80vh] w-full">
    <div class="max-w-[50ch] w-full px-4">
        {{ typing_header("> about") }}
        <div class="mt-8 text-lg text-left">
            <p class="mb-4">
                hey there, welcome! my name is alex.
            </p>
            <p class="mb-4">
                i'm a software engineer with a background in product, system, and protocol design, having worked with teams of all sizes, all across the world.
            </p>
            <p class="mb-4">
                a born and raised new yorker, i enjoy building things, making music, and sharing my ideas.
            </p>
            <p class="mb-4">
                interested in working together? just wanna say hi? feel free to reach out!
            </p>
        </div>
    </div>
    <div class="mt-8 flex justify-center w-full">
        {{ social_links(size="text-2xl") }}
    </div>
</div>