<div class="space-y-6">
    {% for track in tracks %}
        <div class="bg-white rounded-lg border-2 border-black shadow-xl hover:scale-[1.02] 
                    transition-all duration-300 ease-in-out">
            <a href="/audio/{{ track.name }}" class="block p-6">
                <h2 class="font-vt323 text-2xl mb-2">{{ track.name }}</h2>
                <p class="text-sm text-gray-500">{{ track.created_at.strftime('%Y-%m-%d') }}</p>
                <audio controls class="w-full mt-4">
                    <source src="{{ track.get_url() }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </a>
        </div>
    {% endfor %}
</div> 