<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- 
    TODO: hot reload
    <script>
      TODO: hot reloading
      const evtSource = new EventSource("/dev/reload");
      evtSource.onmessage = function(e) {
        console.log(e);
        if (e.data === "reload") {
          location.reload();
        }
      }
    </script> -->
    
    <!-- App Title -->
    <title>Krondor</title>

    <!--JavaScript-->
    <!--htmx-->
    <script src="https://unpkg.com/htmx.org@2.0.0-alpha1/dist/htmx.min.js"></script>
 
    <!-- Static Assets -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"/>
    <link href="/static/css/main.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=VT323&display=swap" rel="stylesheet"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="bg-white text-black">
  {% block header_content %}{% endblock %}
  <main class="mt-[4rem]">
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
